services:
  backend:
    build: .
    container_name: my-erp-backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      db:
        condition: service_healthy
    networks:
      - erp-net

  db:
    image: mysql:8.0
    container_name: my-erp-mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: kyt0501
      MYSQL_DATABASE: erp_db
    volumes:
      - ./mysql-settings/init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql_data:/var/lib/mysql
    ports:
      - "33006:3306"
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-pkyt0501"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - erp-net

volumes:
  mysql_data:

networks:
  erp-net:
    driver: bridge
